.animatepage
    position: absolute
    width: 100%
    top: 0
    bottom: 0
.changePageAnimate-enter
    left: 100%

.changePageAnimate-enter.changePageAnimate-enter-active
    left: 0
    transition: left 400ms linear

.changePageAnimate-leave
    right: 0

.changePageAnimate-leave.changePageAnimate-leave-active
    right: 100%
    transition: right 400ms linear

