$animateTime: 260ms
.animatepage
    position: absolute
    width: 100%
    top: 0
    bottom: 0
.animateright-enter
    left: 100%

.animateright-enter.animateright-enter-active
    left: 0
    transition: left $animateTime linear

.animateright-leave
    right: 0

.animateright-leave.animateright-leave-active
    right: 100%
    transition: right $animateTime linear

//left
.animateleft-enter
    right: 100%

.animateleft-enter.animateleft-enter-active
    right: 0
    transition: right $animateTime linear

.animateleft-leave
    left: 0

.animateleft-leave.animateleft-leave-active
    left: 100%
    transition: left $animateTime linear

//loading animate
$loadingTimer: 180ms
.animate-loading-enter
    opacity: 0
.animate-loading-enter-active
    opacity: 1
    transition: opacity $loadingTimer linear
.animate-loading-leave
    opacity: 1
.animate-loading-leave.animate-loading-leave-active
    opacity: 0
    transition: opacity $loadingTimer linear
