.animatepage
    position: absolute
    width: 100%
    top: 0
    bottom: 0
.animateright-enter
    left: 100%

.animateright-enter.animateright-enter-active
    left: 0
    transition: left 400ms linear

.animateright-leave
    right: 0

.animateright-leave.animateright-leave-active
    right: 100%
    transition: right 400ms linear

