.trainlistPage
    $footerHeight: 55px
    .popupCanver
        position: fixed
        left: 0
        right: 0
        bottom: $footerHeight
        top: 0
        background-color: rgba(0, 0, 0, 0.73)
    .trainTypePopup
        position: absolute
        width: 100%
        bottom: $footerHeight
        background-color: #fff
    .trainOptionPopup
        position: absolute
        width: 100%
        bottom: $footerHeight
        background-color: #fff
    .pageBody
        position: absolute
        top: $headerHeight+42px
        bottom: $footerHeight
        background-color: #fff
        left: 0px
        right: 0px
    .tranList-footer
        position: absolute
        display: flex
        display: -webkit-flex
        justify-content: space-around
        bottom: 0
        height: $footerHeight
        left: 0
        right: 0
        z-index: 101
    .trainlist-ul
        color: #333333
        font-size: 14px
        li
            padding-left: 10px
            @include borb
            dl
                display: flex
                display: -webkit-flex
                height: 40px
                padding-top: 10px
                padding-bottom: 10px
                border-bottom: 1px dashed #ccc
                dd
                    width: 1%
                    flex-grow: 1
                    &:first-child
                        line-height: 20px
                        .startfont
                            font-size: 16px
                        .endfont
                            font-size: 14px
                            color: #7c7c7c
                    &:nth-of-type(2)
                        font-size: 21px
                        line-height: 40px
            .ticketInfo
                font-size: 12px

.preNexDay
    display: flex
    display: -webkit-flex
    margin-top: 6px
    span, label
        font-size: 13px
        height: 30px
        line-height: 31px
    span
        width: 1%
        flex-grow: 1
        text-align: center
    label
        background-color: $themeColor
        color: #fff
        padding: 0 15px
        border-radius: 3px
        -webkit-border-radius: 3px
    input
        display: none
