.trainlistPage
    $footerHeight: 45px
    .popupCanver
        position: fixed
        left: 0
        right: 0
        bottom: $footerHeight
        top: 0
        background-color: rgba(0, 0, 0, 0.73)
    .trainTypePopup
        position: absolute
        width: 100%
        bottom: $footerHeight
        background-color: #fff
        .vcheckbox
            position: absolute
            left: 10px
            top: 8px
            transform: scale(0.7,0.7)
            -webkit-transform: scale(0.7,0.7)
        input
            display: none
        dt
            overflow: hidden
            line-height: 35px
            @include borb
            span
                height: 100%
                padding: 0 10px
                font-size: 13px
                color: $themeColor
        dd
            font-size: 14px
            padding-left: 40px
            height: 40px
            position: relative
            label
                display: block
                span
                    line-height: 40px
    .trainOptionPopup
        dt
            overflow: hidden
            line-height: 35px
            @include borb
            span
                height: 100%
                padding: 0 10px
                font-size: 13px
                color: $themeColor
        dd
            padding-left: 10px
            .dd_header
                font-size: 12px
                color: #7c7c7c
                margin-top: 7px
            ul
                overflow: hidden
                font-size: 14px
                li
                    height: 30px
                    line-height: 30px
                    float: left
                    margin-right: 10px
                    &:last-child
                        margin-right: 0px
    .trainOptionPopup
        position: absolute
        width: 100%
        bottom: $footerHeight
        background-color: #fff
    .pageBody
        position: absolute
        top: $headerHeight+42px
        bottom: $footerHeight
        background-color: #fff
        left: 0px
        right: 0px
    .tranList-footer
        background-color: $themeColor
        position: absolute
        display: flex
        display: -webkit-flex
        bottom: 0
        height: $footerHeight
        left: 0
        right: 0
        color: #fff
        z-index: 101
        font-size: 12px
        .footerItem
            flex-grow: 1
            -webkit-flex-grow: 1
            width: 1%
            text-align: center
            img
                display: block
                margin: 5px auto
    .trainlist-ul
        color: #333333
        font-size: 14px
        li
            padding-left: 10px
            @include borb
            dl
                display: flex
                display: -webkit-flex
                height: 40px
                padding-top: 10px
                padding-bottom: 10px
                border-bottom: 1px dashed #ccc
                dd
                    width: 1%
                    flex-grow: 1
                    -webkit-flex-grow: 1
                    &:first-child
                        line-height: 20px
                        .startfont
                            font-size: 16px
                        .endfont
                            font-size: 14px
                            color: #7c7c7c
                    &:nth-of-type(2)
                        font-size: 21px
                        line-height: 40px
                    &:nth-of-type(3)
                        span
                            font-size: 9px
                            display: inline-block
                            width: 15px
                            height: 15px
                            color: #FFF
                            text-align: center
                            line-height: 16px
                            margin-right: 3px
                            &.end
                                background-color: $themeColor
                            &.middle
                                background-color: #5bce74
                            &.start
                                background-color: #faaa00
                    &:nth-of-type(4)
                        font-size: 14px
                        line-height: 20px
                        p
                            padding-left: 5px
                        p:last-child
                            color: #faaa00
                            span:first-child
                                font-size: 10px

            .ticketInfo
                font-size: 10px
                color: #7c7c7c
                padding: 4px 0
                span
                    display: inline-block
                    margin-right: 10px

.preNexDay
    display: flex
    display: -webkit-flex
    margin-top: 6px
    span, label
        font-size: 13px
        height: 30px
        line-height: 31px
    span
        width: 1%
        flex-grow: 1
        -webkit-flex-grow: 1
        text-align: center
        color: $themeColor
    label
        background-color: $themeColor
        color: #fff
        padding: 0 15px
        border-radius: 3px
        -webkit-border-radius: 3px
    input
        display: none
