.loading
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 0
    display: flex
    display: -webkit-flex
    justify-content: center
    align-items: center
    background: rgba(21, 21, 21, 0.54)
    div
        color: #fff
